@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body{
    background-image: url("tree_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

h1{
    font-size: 56px;
    align-items: center;
}

.bigtext {
    border-radius: 25px;
    background: #445c23;
    padding: 20px;
    padding-bottom: 80px;
    font-size: 64px;
    color: white;
}

.centext {
    font-size: 56px;
    color: white;
}

.medtext {
    background:rgba(254, 248,74, 0.73);/* background-color: rgb(77, 165, 134); */
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid #fef84a;
}

.description {
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 25px;
    /* opacity: 0.7; */
}
.transparent-bg{
	border: 2px solid #fef84a;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 26px;
    border-radius: 25px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: left;
}